build
docs/_build
.DS_Store
.idea/
.python-version
.coverage
*.pyc
*.egg-info/
tests/__init__.py
.tox/
coverage.xml
dist/
.venv
.dir-locals.el
*/private_configs/
*/logs/
__pycache__/
dbt/target/
dbt/dbt_packages/
dbt/logs/
coverage.json
